<H1>Week 3: Capstone Project</H1>
<H4>Alejandro Plaza Larrea</H4>

<p> First step is to import the table from Wikipedia. 
    I will use BeautifulSoup to extract the HTML text
    from the Wikipedia page and then convert it to a df.</p>

In [2]:
import requests
website_url = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text

from bs4 import BeautifulSoup
soup = BeautifulSoup(website_url,"lxml")
#print(soup.prettify())

In [3]:
My_table = soup.find("table",{"class":"wikitable sortable"})
#My_table

In [4]:
import pandas as pd
dfs = pd.read_html(str(My_table))
#dfs

In [5]:
df = dfs[0]
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

<p> I will remove the "not assigned" Borough... </p>

In [6]:
df = df[df.Borough != "Not assigned"]
df

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

<p> Since there are not "not assigned" Neighborhood, I didn't replace them with the Borough </p>

In [7]:
df[df.Neighbourhood == "Not assigned"]

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

In [8]:
index = df.Postcode
index.value_counts()

M9V    8
M8Y    8
M5V    7
M8Z    5
M9B    5
      ..
M9L    1
M3B    1
M5N    1
M9W    1
M5C    1
Name: Postcode, Length: 103, dtype: int64

In [9]:
df["Neighbourhood"] = df.groupby("Postcode")["Neighbourhood"].transform(lambda x: ', '.join(x))
df = df.drop_duplicates()
df

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Postcode,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Harbourfront
5,M6A,North York,"Lawrence Heights, Lawrence Manor"
7,M7A,Downtown Toronto,Queen's Park
...,...,...,...
254,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
261,M4Y,Downtown Toronto,Church and Wellesley
264,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
265,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So..."
281,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen..."

In [10]:
df.shape

(103, 3)

In [12]:
geo_df=pd.read_csv("https://cocl.us/Geospatial_data")
geo_df

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [13]:
df['Latitude']=geo_df['Latitude'].values
df['Longitude']=geo_df['Longitude'].values

df

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Postcode,Borough,Neighbourhood,Latitude,Longitude
2,M3A,North York,Parkwoods,43.806686,-79.194353
3,M4A,North York,Victoria Village,43.784535,-79.160497
4,M5A,Downtown Toronto,Harbourfront,43.763573,-79.188711
5,M6A,North York,"Lawrence Heights, Lawrence Manor",43.770992,-79.216917
7,M7A,Downtown Toronto,Queen's Park,43.773136,-79.239476
...,...,...,...,...,...
254,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.706876,-79.518188
261,M4Y,Downtown Toronto,Church and Wellesley,43.696319,-79.532242
264,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern,43.688905,-79.554724
265,M8Y,Etobicoke,"Humber Bay, King's Mill Park, Kingsway Park So...",43.739416,-79.588437
281,M8Z,Etobicoke,"Kingsway Park South West, Mimico NW, The Queen...",43.706748,-79.594054